# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=unisphere

# JWT Configuration
JWT_SECRET=your-secret-key-here

# Email Configuration
EMAIL_USER=gmail-username@gmail.com
EMAIL_APP_PASSWORD=gmail-app-password

# Business Verification API Configuration
BUSINESS_VERIFICATION_API_KEY=your-api-key-here

# OpenAI Configuration
OPENAI_API_KEY=your-openai-api-key-here
